<html>
    <head>
        <tittle>EXAMEN</tittle>
    </head>
    <body>
        <h1>'TEMA DEL EXAMEN'</h1>
        <h2>LISTADO DE ENLACES</h2>
        <div>
            <a href="{% url 'listar_actividades' %}">LISTAR ACTIVIDADES</a> 
            <a href="{% url 'listar_visitas_actividades' %}">LISTAR VISITAS</a>
            <a href="{% url 'listar_guias_visita' %}">LISTAR GUIAS</a>
            <a href="{% url 'listar_visitas_texto_guias' %}">VISITAS RELACIONADAS CON GUIAS</a>
            <a href="{% url 'listar_visitas_anyos' %}">VISITAS POR AÑOS</a>
            <a href="{% url 'ultimo_comentario_actividad' %}">COMENTARIOS ACTIVIDADES</a>
            <a href="{% url 'listar_comentario_filtro' %}">VISITAS RELACIONADAS CON GUIAS</a>
            <a href="{% url 'listar_etiquetas_actividad' %}">LISTA LAS ETIQUETA QUE TIENE CADA ACTIVIDAD</a>
        </div>
    
        
    </body>
</html>